.color-extension {
  position: fixed;
  right: 10px;
  bottom: 5%;
  z-index: 9999;
}

.color-extension button {
  border: none;
  color: white;
  padding: 5 15px;
  font-size: 16px;
  font-weight: bold;
}

.color-extension button.btnGrey {
  background: rgb(58, 49, 49);
}

.color-extension button.btnDefault {
  background: rgb(58, 49, 49);
}

.color-extension button.active {
  background: rgb(47, 128, 58);
}